/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  color: #673ab7 !important;
  font-size: 14px !important;
  margin-bottom: 10px !important;
}
